*{
    margin: 0;
    padding: 0;
}
body{
    background-color:#fdf0de;
}
.left{
    background-color: rgb(34, 194, 61);
    color: black;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    width:350px;
    height: 100%;
    overflow-y: visible; 
}
.left .row{
    scrollbar-width: none;
    overflow-y: scroll;
    width: 350px;
    height: 90%;
    margin: auto;
}
.left .row::-webkit-scrollbar {
    width: 0;
    height: 0;
}
.search-box{
    text-align: center;
    height: 50px;
}
.right{
    margin-left: 400px;
    padding: 80px 100px 25px;
    
}
 .group{
    background-color: rgb(96, 219, 178);
    width: 300px;
    height: 300px;
    list-style-type:none;
    color: rgb(0, 0, 0);
    font-weight: 900;
    font-size: 24px;
}
.group #word{
    text-align: center;
}
.text{
    text-align: center;
   
}
.row box{
    width: 300px;
    height: 300px;
   margin: 30px ;
}
.order-table{
    text-align: left; 
    font-weight: 900; 
}

tbody tr div{
    font-size: 24px;
    padding: 10px 0 10px 50px;
    
    width: 350px;
}
tbody {
    max-height: 50px;
}
#people{
   text-align: center;
}

li:nth-child(odd) {background-color:rgb(34, 194, 61);}
li:nth-child(even) {background-color:rgb(106, 182, 40)} 
tr:nth-child(even) {background-color:rgb(34, 194, 61)} 
tr:nth-child(odd) {background-color:rgb(155, 211, 107)} 

.check-box{
    display: flex;
    justify-content: center;
    margin: auto;
}
.check-box div{
   margin: auto;
   margin-bottom: 15px;
    margin-left: 10px;
    font-weight:900;
    font-size: 18px;
}
.right .total{
    text-align: center;
    margin-left:-150px;
}

.group .Tank{
    background-color: black;
    color: white;
}
.group .HP{
background-color: red;
}

