<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width , initial-scale=1.0">
<title>vue js</title>

<style type="text/css">

</style>
</head>
<body>
    
    <div class="app">
            <input type="text" placeholder="請輸入" @keyup.enter = "addTodo(newTodo)"
            v-model="newTodo">
            <h2>列表</h2>
  
        <ul>
            <li v-for = "todo in todos" v-bind:class="{active: todo.completed}">
                <input type="checkbox" v-model="todo.completed">
            {{todo.content}}
            -<a href="#" @click.prevent="removeTodo(todo)">刪除</a>
        </li>
    </ul>
        <pre>
            {{this.todos}}
            </pre>
    </div>
   
    


    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>

    <script type="text/javascript">
        var app =new Vue({
            el:'.app',
            data:{
              todos:[],
              newTodo:''
            },
            methods:{
                addTodo:function(todo){
                  this.todos.push({content:todo,completed:false})
                },
                removeTodo:function(todo){
                    this.todos.splice(this.todos.indexOf(todo),1);
                }
            }
        })
    </script>
</body>
</html>